# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date_time_fr
	`strftime("%d-%m-%Y %H:%i:%s")`
snippet date_fr
	`strftime("%d-%m-%Y")`
snippet date
	`strftime("%Y-%m-%d")`
